/* Apply the Bebas Neue font family */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(135deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 1200px;
    width: 100%;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #00f;
    text-shadow: 0 0 15px #00f;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
}

.tab:hover {
    background: rgba(0, 0, 255, 0.3);
    transform: scale(1.05);
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/daft_punk_pointer.png'), pointer !important;
}

.tab-title {
    font-size: 1.5em;
    margin: 0;
    color: #00f;
}

.tab-content {
    font-size: 1em;
    color: #aaa;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #00f;
    text-decoration: none;
    font-size: 1.1em;
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/daft_punk_pointer.png'), pointer !important;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
    color: #0ff;
    text-shadow: 0 0 15px #00f;
    cursor: url('https://cdn.custom-cursor.com/db/pointer/32/daft_punk_pointer.png'), pointer !important;
}

a[data-info]::after {
    content: attr(data-duration) " " attr(data-sampleRate);
    display: block;
    font-size: 0.9em;
    color: #aaa;
    margin-top: 5px;
}
